{% extends 'main.html' %}

{% block title %}
  {% if page == 'login' %}Login – Forum{% else %}Register – Forum{% endif %}
{% endblock %}

{% block content %}
  {% if page == 'login' %}
    <div>
       <form method="post">
       {% csrf_token %}
       {{ form.non_field_errors }}
      <label>Username or email:</label>
       <input type="text" name="identifier" placeholder="Enter username or email"/>
       <label>Password:</label>
       <input type="text" name="password" placeholder="Enter password"/>
       <button type="submit" value="Login">Log in</button>
      </form>
      <a href="{% url 'usermanager:user-register' %}">Sign up</a>
    </div>
  {% else %}
    <div>
     <form method="post" action="">
        {% csrf_token %}
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.email.label_tag }}    {{ form.email }}
       {{ form.password1.label_tag }} {{ form.password1 }}
        {{ form.password2.label_tag }} {{ form.password2 }}
        <button type="submit" value="Register">Register</button>
     </form>
      {% if form.errors %}
      <div class="errors">
      {{ form.non_field_errors }}
       {% for field in form %}
        {% for err in field.errors %}
          <p>{{ field.label }}: {{ err }}</p>
        {% endfor %}
      {% endfor %}
      </div>
      {% endif %}
      <p>Already have an account?</p>
      <a href="{% url 'usermanager:user-login' %}">Log in</a>
    </div>
  {% endif %}
{% endblock %}