{# templates/base/home.html #}
{% extends 'main.html' %}

{% block title %}Home – Forum{% endblock title %}

{% block content %}
  <h1>hey!! :D</h1>
  <p>currently trending</p>
  <div>
    {% for room in rooms %}
      <div>
        {% if request.user == room.host %}
        <a href="{% url 'base:update-post' room.id %}">Edit</a>
        <a href="{% url 'base:delete-post' room.id %}">Delete</a>
        {% endif %}
        <span>{{ room.host.username }}</span>
        <h5>{{ room.id }} – <a href="{% url 'base:room' room.id %}">{{ room.name }}</a></h5>
        <small>{{ room.topic.name }}</small>
        <hr>
      </div>
    {% endfor %}
    <a href="{% url 'base:create-post' %}">What's on your mind?</a>
  </div>
{% endblock content %}