{# templates/base/home.html #}
{% extends 'main.html' %}

{% block title %}Room – Forum{% endblock title %}

{% block content %}
<div class="post-container">
<p><a href="{% url 'usermanager:user-profile' room.host.id %}">@{{room.host}}</a>-OP</p>
<h1>{{room.name}}</h1>
<p>{{room.description}}</p>

<div class="comment-wrapper">
   <h3>Comments</h3>
   <hr>
  {% for message in comments %}
   <div>
      <small><a href="{% url 'usermanager:user-profile' message.user.id %}">"@{{message.user}}</a> {{message.created|timesince}} ago</small>
      {% if message.user == room.host %}
      <p>OP</p>
      {% endif %}

       {% if message.deleted_by_moderator %}
      <p class="deleted-placeholder">
        [Removed by moderator]
      </p>
      {% else %}
      <p>{{ message.body }}</p>
       {% endif %}

       {% if request.user == message.user or perms.base.delete_message %}
       <a href="{% url 'base:delete-comment' message.id %}">Delete</a>
       {% endif %}
   </div>
   {% endfor %}

   <div class="comment-form">
       {% if request.user.is_authenticated %}
      <form method="POST" action="">
         {% csrf_token %}
         <input type="text" name="body" placeholder="Write your comment here"/>
      </form>
      {% else %}
      <div class="login-prompt">
        <p>You must <a href="{% url 'usermanager:user-login' %}">log in</a> to leave a comment.</p>
      </div>
      {% endif %}
   </div>
</div>
</div>
{% endblock content %}

