{# templates/base/home.html #}
{% extends 'main.html' %}

{% block title %}Room – Forum{% endblock title %}

{% block content %}
<div class="post-container">
<p>@{{room.host}}-OP</p>
<h1>{{room.name}}</h1>
<p>{{room.description}}</p>

<div class="comment-wrapper">
   <h3>Comments</h3>
   <hr>
  {% for message in comments %}
   <div>
      <small>@{{message.user}} {{message.created|timesince}} ago</small>
      {% if message.user == room.host %}
      <p>OP</p>
      {% endif %}
       {% if request.user == message.user %}
       <a href="{% url 'base:delete-comment' message.id %}">Delete</a>
       {% endif %}
      <p>{{message.body}}</p>
   </div>
   {% endfor %}

   <div class="comment-form">
       {% if request.user.is_authenticated %}
      <form method="POST" action="">
         {% csrf_token %}
         <input type="text" name="body" placeholder="Write your comment here"/>
      </form>
      {% else %}
      <div class="login-prompt">
        <p>You must <a href="{% url 'usermanager:user-login' %}">log in</a> to leave a comment.</p>
      </div>
      {% endif %}
   </div>
</div>
</div>
{% endblock content %}

